{% extends 'layout.html' %}
{% load socialaccount %}

{% block title %}
    Welcome to Google OAuth Example
{% endblock %}

{% block content %}
    <h1>Welcome to Our Application</h1>
    <p>Please log in to access the content.</p>
    <br>
    <a href="{% url 'userlogin' %}" class="button">Login</a>
    <br>
    <a href="{% url 'usersignup' %}" class="button">Sign Up</a>
    <br>
    <a href="{% url 'account_logout' %}" class="button">Logout</a>
    <br>
    <a href="{% provider_login_url 'google' %}" class="button">Login with Google</a>
{% endblock %}