{% extends 'layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h2>Login</h2>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Login</button>
        </form>
        <p>Or use a third-party:</p>
        <a href="{% url 'google_login' %}" class="button">Login with Google</a>
        <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a></p>
{% endblock %}